{% extends "../dashboard.njk" %}

 {% block content %}
    <form method="post" action="/destinations/{{destination.id}}/edit">
        <h2>Actualizar</h2>
        <input type="text" name="title" value="{{destination.title}}">
        <input type="text" name="description" value="{{destination.description}}">
        <input type="text" name="image" value="{{destination.image}}">
        <input type="submit" value="Actualizar">
    </form>
    
{% endblock %}