{% extends "../dashboard.njk" %}

 {% block content %}
 {% for destination in destinations %}
    <h2>{{destination.title | upper }}</h2>
    <div>{{destination.description}}</div>
    <img src="{{destination.image}}" alt="">
    <a href="/destinations/{{ destination. id }}/delete">Eliminar</a>
    {% endfor %}
{% endblock %}