{% extends "../dashboard.njk" %}

 {% block content %}
    <form method="post" action="/destinations/create">
        <h2>Crea un nuevo destino</h2>
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="text" name="image">
        <input type="submit" value="Crear">
    </form>
    
{% endblock %}