{% extends "../dashboard.njk" %}

 {% block content %}
    <h2>{{destination.title | upper }}</h2>
    <div>{{destination.description}}</div>
    <img src="{{destination.image}}" alt="">
{% endblock %}  
   
    
